body {
  margin: 0;
}
canvas {
  display: block;
}

.starting {
  /* display:none; */
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(bg.png); */
  position: absolute;
  z-index: 8;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}
#buttonContainer {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 45vw;
  height: 55vh;
  transform: translateY(7.5vw);
  pointer-events: none; /* Disable pointer events for the container */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#fixedButton {
  pointer-events: all; /* Enable pointer events for the button */
  position: absolute;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
  cursor: pointer;
}
#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  z-index: 10;
}

.three-container{
  display: none;
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
}
.controls {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index:3;
}

#progressText{
  position: absolute;
bottom: 20px;
right:100px;
color:#333;
font-size: 50px;
}
.camera-info {
  margin-top: 10px;
}
button {
  display: block;
  margin-bottom: 5px;
}



.info-container {
  /* background-color: #fff; */
  position: absolute;
  left:20%;
  background: transparent no-repeat;
  background-size: contain;
  background-image: url(bg.jpg);
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 700px;
  height: auto;
  padding: 20px;
  margin-top: 100px;
  position: relative;
  text-align: right;
  z-index: 2;
  /* stroke: 1px; */
}
.container h1 {
  font-family: "Ultra", serif;
  font-size: 36px;
  color: #333;
  margin: 0;
}
.container .description {
  font-size: 16px;
  color: #666;
  margin: 10px 0;
}

#videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:transparent;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.persimmon-images {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}
.persimmon-images img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 10px;
}

.attributes {
  margin: 20px 0;
}
.attribute {
  text-align: right;
  margin-bottom: 20px;
}
.attribute h2 {
  font-family: "Ultra", serif;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #ffa500;
  padding: 5px 10px;
  border-radius: 5px;
}
.attribute p {
  color: #413f39;

  text-align: right;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 131%;
  /* font-size: 14px;
          color: #666; */
}

.description {
  color: #413f39;

  text-align: right;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 131%;
  /* font-size: 14px;
          color: #666; */
}
.input {
  margin: 20px;
}

.input label {
  margin-right: 10px;
}

.input input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.output {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}


.suibian{
  border-radius: 20px;
  width:30px;
  height:100px;
  background-color: #ff636358;
  border: 10px solid;
  border-color: #DBB3B3;
}