body {
  margin: 0;
  background-color: #ffedd9;
  width:100vw;
  height:100vh;
  overflow: hidden;
}
canvas {
  display: block;
}

.starting {
  /* display:none; */
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 8;
}
video {
  margin-top:30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}
#buttonContainer {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 45vw;
  height: 55vh;
  transform: translateY(7.5vw);
  pointer-events: none; /* Disable pointer events for the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

#fixedButton {
  pointer-events: all; /* Enable pointer events for the button */
  position: absolute;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
  cursor: pointer;
}
#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffedd9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  z-index: 10;
}

.three-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.controls {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 3;
}

#progressText {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-family: "ultra", sans-serif;
  color: #fff;
  text-shadow: -8px 5px 0px #f09b42;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110.412%; /* 141.294px */
}

.loadingText {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-family: "ultra", sans-serif;
  color: #fff;
  text-shadow: -8px 5px 0px #f09b42;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110.412%; /* 141.294px */
}

.camera-info {
  margin-top: 10px;
}
button {
  display: block;
  margin-bottom: 5px;
}

.info-container {
  /* background-color: #fff; */
  position: absolute;
  left: 20%;
  background: transparent no-repeat;
  background-size: contain;
  background-position: right center;
  background-image: url(bg.jpg);
  border-radius: 7px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.1));
  overflow: hidden;
  width: 700px;
  height: auto;
  padding: 20px;
  margin-top: 100px;
  position: relative;
  text-align: right;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* stroke: 1px; */
}
.container h1 {
  font-family: "Ultra", serif;
  font-size: 36px;
  color: #333;
  margin: 0;
}
.persimmon-images {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}
.persimmon-images img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 10px;
}

.attributes {
  width: 80%;
}
.attribute {
  text-align: right;
  margin-bottom: 10px;
}
.attribute h2 {
  font-family: "Ultra", serif;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #ffa500;
  padding: 5px 10px;
  border-radius: 5px;
}
.attribute p {
  color: #413f39;
  text-align: right;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 131%;
  /* font-size: 14px;
          color: #666; */
}

.description {
  color: #413f39;
  text-align: right;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 131%;
  width: 80%;
}
.input {
  margin: 20px;
}

.input label {
  margin-right: 10px;
}

.input input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.output {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.suibian {
  border-radius: 20px;
  width: 30px;
  height: 100px;
  background-color: #ff636358;
  border: 10px solid;
  border-color: #dbb3b3;
}

#videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 19;
}


.tickerContainer {
  position: fixed;
  bottom: 0;
  z-index: 9;
}
.ticker {
  /* height: 20px;
  width: 100vw; */
  width: 4430px;
  height: 50px;
  min-width: 1300px;
  background: linear-gradient(180deg, rgba(251, 239, 233, 0.00) 0%, #ECC094 100%);
  color: rgb(255, 255, 255);

  text-shadow: -3px 3px 0px #F09B42;

  font-family: 'Ultra', serif;

  font-size: 30px;

  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.ticker div {
  display: inline-block;
  width: 200%;
  height: 50px;
  position: absolute;
  overflow: hidden;
  animation: ticker 10s linear infinite;
}
.ticker span {
  float: left;
  width: 50%;
 
}
@keyframes ticker {
  0% { left: 0; }
  100% { left: -100%; }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #ffffff; /* Light blue background */
  position: absolute;
  z-index: 3;
  width: 100vw;
  top:0;
  font-family: "Ultra", serif;
}
.header h1 {
  /* font-family: "Ultra", serif; */
  margin-left: 10px;
  font-size: 17px;
  color: #1e90ff; /* Dodger blue text */
}
.header .location {
  font-size: 17px;
  color: #1e90ff; /* Dodger blue text */
  display: flex;
  align-items: center;
  margin-right: 10px;

}
.header .location img {
  margin-right: 0px;
}
